@tailwind base;
@tailwind components;
@tailwind utilities;


@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
  }      
  @keyframes animate-border {
    0% {
      --border-angle: 0deg;
    }
    100% {
      --border-angle: 360deg;
    }
  }
  
  .animate-border {
    animation: animate-border 2s linear infinite;
  }  

::-webkit-scrollbar{
  width:12px;
  background-color: rgb(70, 114, 100);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(103, 163, 144);
  border-radius: 5px;
  
}

  @keyframes twinkle {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
.iconc{
  fill: #f0fff1;
}
.iconc:hover{
  fill: #f1c40f;
}